{% load i18n %}

<ul aria-hidden="true" class="nav-header d-none d-xl-flex">

  {% for topic in main_topics %}
    <li id="menu-item-{{ topic.id }}">
      <a class="nav-item" href="#">{{ topic }}</a>
    </li>
  {% endfor %}

  <li class="dropdown">
    <button class="btn btn-link dropdown-toggle nav-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownSubMenu">
      {% trans "Others" %}
    </button>
    <ul id="dropdownSubMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      {% for topic in other_topics %}
        <li class="dropdown-item">
          <a href="#">{{ topic }}</a>
        </li>
      {% endfor %}

    </ul>
  </li>

  <li>
    <a class="nav-item" href="{% url 'list_news' %}">
      <span>
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </span>
    </a>
  </li>

</ul>
