{% load i18n %}

<ul aria-hidden="true" class="nav-header d-none d-xl-flex">

  {% for thematic in thematics %}
    {% if thematic.is_main %}
      <li id="menu-item-{{ thematic.id }}">
        <a class="nav-item" href="#">{{ thematic }}</a>
      </li>
    {% endif %}
  {% endfor %}

  <li class="dropdown">
    <button class="btn btn-link dropdown-toggle nav-item" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdownSubMenu-1">
      {% trans "Others Thematics" %}
    </button>
    <ul id="dropdownSubMenu-1" class="dropdown-menu" aria-labelledby="dropdownMenuButton-1">

      {% for thematic in thematics %}
        {% if not thematic.is_main %}
          <li class="dropdown-item">
            <a href="#">{{ thematic }}</a>
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </li>

</ul>
