<div class="bg-gray-200 ">
  <div class="container py-4">
    <h6 class="mb-1">Les actualités par faculté</h6>
    <div>
      <a href="#" class="tag tag-primary mt-2 mr-1">Environnement naturel, architectural et construit</a>
      <a href="#" class="tag tag-primary mt-2 mr-1">Sciences de base</a>
      <a href="#" class="tag tag-primary mt-2 mr-1">Sciences de la vie</a>
      <a href="#" class="tag tag-primary mt-2 mr-1">Sciences et techniques de l’ingénieur</a>
      <a href="#" class="tag tag-primary mt-2 mr-1">Informatique et communications</a>
      <a href="#" class="tag tag-primary mt-2 mr-1">Collège du management de la technologie</a>
    </div>
  </div>
</div>
