{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {% get_current_language as current_language %}
  <li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
  </li>
  <li>
    <a href="{% url 'edit_news' original.pk current_language %}" class="viewsitelink">
      {% translate "Edit on the site" %}
    </a>
  </li>
{% endblock %}
