{% load humanize %}

<a href="#" class="list-group-teaser list-group-news-teaser list-group-item list-group-teaser-container link-trapeze-vertical">
  <div class="list-group-teaser-thumbnail">
    <picture>
      <source media="(min-width: 1140px)" srcset="https://picsum.photos/1440/810 1x, https://picsum.photos/1920/1080 2x">
      <source media="(min-width: 960px)" srcset="https://picsum.photos/1080/608 1x, https://picsum.photos/1440/810 2x">
      <source media="(min-width: 720px)" srcset="https://picsum.photos/928/520 1x, https://picsum.photos/1080/608 2x">
      <source media="(min-width: 541px)" srcset="https://picsum.photos/768/432 1x, https://picsum.photos/928/520 2x">
      <source media="(max-width: 540px)" srcset="https://picsum.photos/576/324 1x, https://picsum.photos/1080/608 2x">
      <img src="https://picsum.photos/1080/608" class="img-fluid" alt="Illustration de la news">
    </picture>
  </div>
  <div class="list-group-teaser-content">
    <h3 class="h5 mb-1">{{ translation.title }}</h3>
    <div class="list-group-teaser-excerpt small">
      Naviguer dans les zones difficiles d’accès du corps humain tout en conservant une précision extrême...
    </div>
    {% if translation.news.format %}
      <span class="tag tag-sm mt-1 border-light mr-2">
        {{ translation.news.format }}
        {% if translation.news.format.icon %}
          <svg class="icon" aria-hidden="true">
            <use xlink:href="{{ translation.news.format.icon }}"></use>
          </svg>
        {% endif %}
      </span>
    {% endif %}
    <time datetime="{{ translation.published_at|date:'Y-m-d' }}" title="{{ translation.published_at }}" class="small mb-0 text-muted">
      {{ translation.published_at|naturalday }}
    </time>
  </div>
</a>
