{% load humanize %}

<a href="#" class="list-group-teaser list-group-news-teaser list-group-item list-group-teaser-container link-trapeze-vertical">
  <div class="list-group-teaser-thumbnail">
    <picture>
      <source media="(min-width: 992px)" srcset="https://picsum.photos/160/90 1x, https://picsum.photos/320/180 2x">
      <source media="(min-width: 768px)" srcset="https://picsum.photos/654/368 1x, https://picsum.photos/1308/736 2x">
      <source media="(max-width: 767px)" srcset="https://picsum.photos/474/266 1x, https://picsum.photos/948/532 2x">
      <img src="https://picsum.photos/1440/810" class="img-fluid" alt="Illustration de la news">
    </picture>
  </div>
  <div class="list-group-teaser-content">
    <h3 class="h5 mb-1">{{ translation.title }}</h3>
    <div class="list-group-teaser-excerpt small">
      Naviguer dans les zones difficiles d’accès du corps humain tout en conservant une précision extrême...
    </div>
    {% if translation.news.format %}
      <span class="tag tag-sm mt-1 border-light mr-1">
        {{ translation.news.format }}
        {% if translation.news.format.icon %}
          <svg class="icon" aria-hidden="true">
            <use xlink:href="{{ translation.news.format.icon }}"></use>
          </svg>
        {% endif %}
      </span>
    {% endif %}
    <time datetime="{{ translation.published_at|date:'Y-m-d' }}" title="{{ translation.published_at }}" class="small mb-0 text-muted">
      {{ translation.published_at|naturalday|capfirst }}
    </time>
  </div>
</a>
