{% extends 'base.html' %}
{% load django_vite %}
{% load static %}
{% load i18n %}

{% block web2018_title %}
  {% trans 'News' %} · {% if form.news.instance.pk %}{% trans "Edit News" %}{% else %}{% trans "Create News" %}{% endif %}
{% endblock %}

{% block web2018_content %}
<main id="main" class="content">
  <div class="container-lg">

    {% include 'includes/title.inc.html' %}

    <ul class="nav nav-tabs" role="tablist">
      {% for lang in languages %}
      <li class="nav-item">
        <a class="nav-link {% if current_language == lang.code %}active{% endif %}"
            id="{{ lang.code }}-tab"
            href="{% if form.news.instance.pk %}{% url 'edit_news' news_id=form.news.instance.pk language=lang.code %}
            {% else %}{% url 'create_news' language=lang.code %}{% endif %}"
            role="tab"
            aria-controls="{{ lang.code }}"
            aria-selected="true">{% trans lang.label %}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content p-3">
      {% for lang in languages %}
      <div class="tab-pane fade {% if current_language == lang.code %}show active{% endif %}" id="{{ lang.code }}" role="tabpanel" aria-labelledby="{{ lang.code }}-tab">
        <form id="addFormNews-{{ lang.code }}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-3">
              <span class="text-danger">*</span>
              <label for="format-select-{{ lang.code }}" class="{% if form.news.instance.pk.format.errors %}invalid-label{% endif %}">{% trans "Format" %}</label>
              <span class="float-right" title="{% trans "Common" %}">
                <svg class="icon feather" aria-hidden="true">
                  <use xlink:href="#crosshair"></use>
                </svg>
              </span>
              <select
                class="custom-select {% if form.news.instance.pk.format.errors %}is-invalid{% endif %}"
                name="format"
                id="format-select-{{ lang.code }}"
              >
                {% for format in formats %}
                <option class="" value="{{ format.id }}" {% if format.id == selected_format_id %}selected{% endif %}>
                  {{ format.current_label}}
                </option>
                {% endfor %}
              </select>
              {% for error in form.news.format.errors %}
              <small class="form-text invalid-feedback">
                <ul class="errorlist" id="id_format_error"><li>{{ error }}</li></ul>
              </small>
              {% endfor %}
            </div>
            <div class="form-group col-md-3">
              <span class="text-danger">*</span>
              <label for="thematic-select-{{ lang.code }}" class="{% if form.news.instance.pk.thematics.errors %}invalid-label{% endif %}">{% trans "Thematics" %}</label>
              <span class="float-right" title="{% trans "Common" %}">
                <svg class="icon feather" aria-hidden="true">
                  <use xlink:href="#crosshair"></use>
                </svg>
              </span>
              <select
                multiple
                data-filter="True"
                class="select-multiple {% if form.news.instance.pk.thematics.errors %}is-invalid{% endif %}"
                name="thematics"
                id="thematic-select-{{ lang.code }}"
              >
                {% for thematic in thematics %}
                <option class="" value="{{ thematic.id }}" {% if thematic.id in selected_thematic_ids %}selected{% endif %}>
                  {{ thematic.current_label }}
                </option>
                {% endfor %}
              </select>
              {% for error in form.news.thematics.errors %}
              <small class="form-text invalid-feedback">
                <ul class="errorlist" id="id_thematics_error"><li>{{ error }}</li></ul>
              </small>
              {% endfor %}
            </div>
            <div class="form-group col-md-6">
              <label for="entite-select-{{ lang.code }}">{% trans "Entities" %}</label>
              <span class="float-right" title="{% trans "Common" %}">
                <svg class="icon feather" aria-hidden="true">
                  <use xlink:href="#crosshair"></use>
                </svg>
              </span>
              <select
                multiple
                data-filter="True"
                class="select-multiple {% if form.news.instance.pk.entities.errors %}is-invalid{% endif %}"
                name="entities"
                id="entite-select-{{ lang.code }}"
              >
                {% for entity in entities %}
                <option class="" value="{{ entity.id }}" {% if entity.id in selected_entity_ids %}selected{% endif %}>
                  {{ entity.current_label}}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <span class="text-danger">*</span>
            <label class="{% if form.translation.title.errors %}invalid-label{% endif %}" for="title-{{ lang.code }}">
              {% trans "Title" %}
            </label>
            <input type="text" id="title-{{ lang.code }}" class="form-control {% if form.translation.title.errors %}is-invalid{% endif %}"
                    name="title" value="{% if form.translation.title.value %}{{ form.translation.title.value }}{% endif %}">
            {% for error in form.translation.title.errors %}
            <small class="form-text invalid-feedback">
              <ul class="errorlist" id="id_title_error"><li>{{ error }}</li></ul>
            </small>
            {% endfor %}
          </div>
          <div class="form-group">
                <span class="text-danger">*</span>
                <label class="{% if form.translation.hat.errors %}invalid-label{% endif %}" for="hat-{{ lang.code }}">
                  {% trans "Hat" %}
                </label>
                {{ form.translation.hat }}
                {{ form.translation.media }}
                {% for error in form.translation.hat.errors %}
                <small class="form-text invalid-feedback">
                  <ul class="errorlist" id="id_hat_error"><li>{{ error }}</li></ul>
                </small>
                {% endfor %}
              </div>
              <div class="form-group">
                <span class="text-danger">*</span>
                <label class="{% if form.translation.extract.errors %}invalid-label{% endif %}" for="extract-{{ lang.code }}">
                  {% trans "Extract" %}
                </label>
                {{ form.translation.extract }}
                {{ form.translation.media }}
                {% for error in form.translation.extract.errors %}
                <small class="form-text invalid-feedback">
                  <ul class="errorlist" id="id_extract_error"><li>{{ error }}</li></ul>
                </small>
                {% endfor %}
              </div>
              <div class="form-group">
                <span class="text-danger">*</span>
                <label class="{% if form.translation.author.errors %}invalid-label{% endif %}" for="author-{{ lang.code }}">
                  {% trans "Author" %}
                </label>
                {{ form.translation.author }}
                {{ form.translation.media }}
                {% for error in form.translation.author.errors %}
                <small class="form-text invalid-feedback">
                  <ul class="errorlist" id="id_author_error"><li>{{ error }}</li></ul>
                </small>
                {% endfor %}
              </div>
              <div class="form-group">
                <span class="text-danger">*</span>
                <label class="{% if form.translation.funding.errors %}invalid-label{% endif %}" for="funding-{{ lang.code }}">
                  {% trans "Funding" %}
                </label>
                {{ form.translation.funding }}
                {{ form.translation.media }}
                {% for error in form.translation.funding.errors %}
                <small class="form-text invalid-feedback">
                  <ul class="errorlist" id="id_funding_error"><li>{{ error }}</li></ul>
                </small>
                {% endfor %}
              </div>
              <div class="form-group">
                <span class="text-danger">*</span>
                <label class="{% if form.translation.references.errors %}invalid-label{% endif %}" for="references-{{ lang.code }}">
                  {% trans "References" %}
                </label>
                {{ form.translation.references }}
                {{ form.translation.media }}
                {% for error in form.translation.references.errors %}
                <small class="form-text invalid-feedback">
                  <ul class="errorlist" id="id_references_error"><li>{{ error }}</li></ul>
                </small>
                {% endfor %}
              </div>
              <div class="d-flex flex-wrap align-items-start">
            <div class="d-flex flex-wrap">
              <button id="add-btn-news-{{ lang.code }}" class="btn btn-primary btn-sm mr-2 mb-2" type="submit">
                {% trans "Save" %}
              </button>
            </div>
          </div>
        </form>
      </div>
      {% endfor %}
    </div>

  </div>
</main>
{% endblock %}
