{% extends 'base.html' %}
{% load i18n %}

{% block web2018_extra_js %}
  {{ form.translation.media }}
{% endblock %}

{% block web2018_title %}
  {% trans 'News' %} · {% if form.news.instance.pk %}{% trans "Edit News" %}{% else %}{% trans "Create News" %}{% endif %}
{% endblock %}

{% block web2018_content %}
<main id="main" class="content">
  <div class="container-lg">

    {% include 'includes/title.inc.html' %}

    <ul class="nav nav-tabs" role="tablist">
      {% for code, name in languages %}
      <li class="nav-item">
        <a class="nav-link {% if form.language == code %}active{% endif %}"
          id="{{ code }}-tab"
          href="{% if form.news.instance.pk %}{% url 'edit_news' news_id=form.news.instance.pk lang=code %}
          {% else %}{% url 'create_news' lang=code %}{% endif %}"
          role="tab"
          aria-controls="{{ code }}"
          aria-selected="{% if form.language == code %}true{% else %}false{% endif %}">{% trans name %}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content p-3">
      <div class="tab-pane fade show active" id="{{ form.language }}" role="tabpanel" aria-labelledby="{{ form.language }}-tab">
        <form id="addFormNews-{{ form.language }}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-3">
              <span class="text-danger">*</span>
              <label for="{{ form.news.format.id_for_label }}" class="{% if form.news.format.errors %}invalid-label{% endif %}">
                {% trans "Format" %}
              </label>
              <span class="float-right" title="{% trans "Common" %}">
              <svg class="icon feather" aria-hidden="true">
                <use xlink:href="#crosshair"></use>
              </svg>
              </span>
              <select
                class="custom-select {% if form.news.format.errors %}is-invalid{% endif %}"
                name="format"
                id="{{ form.news.format.id_for_label }}"
              >
                {% for format in formats %}
                <option class="" value="{{ format.id }}" {% if format.id == selected_format_id %}selected{% endif %}>
                  {{ format }}
                </option>
                {% endfor %}
              </select>
              {% if form.news.format.errors %}
              <small class="form-text invalid-feedback">
                {{ form.news.format.errors }}
              </small>
              {% endif %}
            </div>
            <div class="form-group col-md-3">
              <span class="text-danger">*</span>
              <label for="{{ form.news.thematics.id_for_label }}" class="{% if form.news.thematics.errors %}invalid-label{% endif %}">
                {% trans "Thematics" %}
              </label>
              <span class="float-right" title="{% trans "Common" %}">
              <svg class="icon feather" aria-hidden="true">
                <use xlink:href="#crosshair"></use>
              </svg>
              </span>
              <select
                multiple
                data-filter="True"
                class="select-multiple {% if form.news.thematics.errors %}is-invalid{% endif %}"
                name="thematics"
                id="{{ form.news.thematics.id_for_label }}"
              >
                {% for thematic in thematics %}
                <option class="" value="{{ thematic.id }}" {% if thematic.id in selected_thematic_ids %}selected{% endif %}>
                  {{ thematic }}
                </option>
                {% endfor %}
              </select>
              {% if form.news.thematics.errors %}
              <small class="form-text invalid-feedback">
                {{ form.news.thematics.errors }}
              </small>
              {% endif %}
            </div>
            <div class="form-group col-md-6">
              <label for="{{ form.news.entities.id_for_label }}">
                {% trans "Entities" %}
              </label>
              <span class="float-right" title="{% trans "Common" %}">
              <svg class="icon feather" aria-hidden="true">
                <use xlink:href="#crosshair"></use>
              </svg>
              </span>
              <select
                multiple
                data-filter="True"
                class="select-multiple {% if form.news.entities.errors %}is-invalid{% endif %}"
                name="entities"
                id="{{ form.news.entities.id_for_label }}"
              >
                {% for entity in entities %}
                <option class="" value="{{ entity.id }}" {% if entity.id in selected_entity_ids %}selected{% endif %}>
                  {{ entity }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <span class="text-danger">*</span>
            <label class="{% if form.translation.title.errors %}invalid-label{% endif %}" for="{{ form.translation.title.id_for_label }}">
              {% trans "Title" %}
            </label>
            <input type="text" id="{{ form.translation.title.id_for_label }}" class="form-control {% if form.translation.title.errors %}is-invalid{% endif %}"
              name="title" value="{% if form.translation.title.value %}{{ form.translation.title.value }}{% endif %}"
              maxlength="{{ form.translation.title.field.max_length }}" {% if form.translation.title.field.required %}required{% endif %}
            >
            {% if form.translation.title.errors %}
            <small class="form-text invalid-feedback">
              {{ form.translation.title.errors }}
            </small>
            {% endif %}
          </div>
          <div class="form-group">
            <span class="text-danger">*</span>
            <label class="{% if form.translation.standfirst.errors %}invalid-label{% endif %}" for="{{ form.translation.standfirst.id_for_label }}">
              {% trans "Standfirst" %}
            </label>
            {{ form.translation.standfirst }}
            {% if form.translation.standfirst.errors %}
            <small class="form-text invalid-feedback">
              {{ form.translation.standfirst.errors }}
            </small>
            {% endif %}
            <small class="form-text text-muted">
              {% trans "The standfirst summarizes the news in a sentence or two. The standfirst is displayed in bold under the title." %}
            </small>
          </div>
          <div class="form-group">
            <label for="{{ form.translation.extract.id_for_label }}">
              {% trans "Extract" %}
            </label>
            {{ form.translation.extract }}
          </div>
          <div class="form-group">
            <span class="text-danger">*</span>
            <label class="{% if form.translation.author.errors %}invalid-label{% endif %}" for="{{ form.translation.author.id_for_label }}">
              {% trans "Author" %}
            </label>
            {{ form.translation.author }}
            {% if form.translation.author.errors %}
            <small class="form-text invalid-feedback">
              {{ form.translation.author.errors }}
            </small>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="{{ form.translation.funding.id_for_label }}">
              {% trans "Funding" %}
            </label>
            {{ form.translation.funding }}
            <small class="form-text text-muted">
              {% trans "Please list any institutions or companies that have funded the reported research." %}
            </small>
          </div>
          <div class="form-group">
            <label for="{{ form.translation.references.id_for_label }}">
              {% trans "References" %}
            </label>
            {{ form.translation.references }}
            <small class="form-text text-muted">
              {% trans "Please provide the full reference, including DOI, of any peer-review publication(s) related to the reported research." %}
            </small>
          </div>
          <div class="d-flex flex-wrap align-items-start">
            <div class="d-flex flex-wrap">
              <button id="add-btn-news-{{ form.language }}" class="btn btn-primary mr-2 mb-2" type="submit">
                {% trans "Save" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</main>
{% endblock %}
