{% extends 'base.html' %}

{% load i18n %}

{% block web2018_content %}
  <main id="main" class="content py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="list-group">
            {% for item in news %}
              <a href="#" class="list-group-teaser list-group-news-teaser list-group-item list-group-teaser-container link-trapeze-vertical">
                <!-- Image -->
                <div class="list-group-teaser-thumbnail">
                  <img src="https://picsum.photos/400/225" alt="Illustration de la news" class="img-fluid">
                </div>

                <div class="list-group-teaser-content">
                  <h3 class="h5 mb-1">Un endoscope à rigidité variable pour atteindre les zones difficiles</h3>
                    <div class="list-group-teaser-excerpt small">
                      Naviguer dans les zones difficiles d’accès du corps humain tout en conservant une précision extrême : c’est le défi que relève...
                    </div>
                  <div class="mt-1 d-flex align-items-center">
                    <span class="tag tag-sm border-light mr-2">
                      {{ item.format }}
                      <svg class="icon" aria-hidden="true"><use xlink:href="#play-circle"></use></svg>
                      1:30
                    </span>
                    <time datetime="{{ item.created_at|date:'Y-m-d' }}" class="small mb-0 text-muted">
                      <span class="sr-only">Publié: </span>{{ item.created_at|date:'d/m/Y' }}
                    </time>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

  </main>
{% endblock %}
